.masthead {
    background-color: #175873;
    color: white;
}

.site-footer {
    background-color: #175873;
   
}

h1 {
    font-family: 'Anton', sans-serif;
}

h5, h6 {
    color: white;
}

#footerContact a {
    color: #87ACA3;
}

.fa-instagram-square, .fa-facebook-square, .fa-twitter-square {
    color: #87ACA3;
}
